{
  "isDryRun": false,
  "pushMethods": {
    "bark": {
      "serverURL": "https://xxxx/push",
      "extParams": {
        "deviceKeys": ["xxx"],
        "iOSNotificationLvl": "active",
        "notificationGrp": "xxxAlert"
      }
    },
    "sc3": {
      "serverURL": "https://xxxx/send/xxx.send",
      "extParams": {
        "customPushTags": ["xxxAlert"]
      }
    }
  }
}